   <h3>スケジュール一覧</h3>
 
    <% if flash.notice %>
      <p class="notice"><%= flash.notice %></p>
    <% end %>
 
    <table>
      <thead>
        <tr>
          <th>id</th>
          <th>タイトル</th>
          <th>開始日</th>
          <th>終了日</th>
          <th>終日</th>
          <th>スケジュール更新日時</th>
          <th>確認</th>
          <th>編集</th> 
          <th>削除</th>
        </tr>
      </thead>
 
       <tbody>
        <% @schedules.each do |schedule| %>
          <tr>
            <td><%= schedule.id %></td>
            <td><%= schedule.title%></td>
            <td><%= schedule.start_date.to_s(:date_jp) %></td>
            <td><%= schedule.end_date.to_s(:date_jp) %></td>
            <td><%= schedule.set_circle %></td>
            <td><%= schedule.updated_at.to_s(:datetime_jp) %></td>
            <td>
                <%= link_to "参照", schedule %>
            </td>
            <td>
                <%= link_to "編集", [:edit, schedule] %>
            </td>
            <td>
              <%= link_to "削除", schedule, method: :delete, data: { confirm: "本当に削除しますか？" } %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <p><%= link_to "スケジュール新規登録", :new_schedule %></p>