    <h3>ユーザー詳細</h3>
 
    <table>
      <tr>
        <th>タイトル</th>
        <td><%= @schedule.title%></td>
      </tr>
      <tr>
        <th>開始日</th>
        <td><%= @schedule.start_date.to_s(:date_jp) %></td>
      </tr>
      <tr>
        <th>終了日</th>
        <td><%= @schedule.end_date.to_s(:date_jp) %></td>
      </tr>
      <tr>
        <th>終日</th>
        <td><%= @schedule.set_circle %></td>
      </tr>
      <tr>
        <th>メモ</th>
        <td><%= @schedule.memo %></td>
      </tr>
    </table>
    
    <div>
      <ul>
        <li><%= link_to "スケジュール一覧に戻る", :schedules %></li>
        <li><%= link_to "スケジュールを編集する", [:edit, @schedule]  %></li>
        <li><%= link_to "スケジュールを削除する", @schedule, method: :delete, data: { confirm: "本当に削除しますか？" } %></li>
      </ul>
    </div>